@model IEnumerable<SproutExam.Service.Dtos.EmployeeOutputDto>

@{
    ViewData["Title"] = "Get";
}

<h1>Employees</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeType)
            </td>
            <td>
                @Html.ActionLink("Details", "GetById", new {  id=item.Id }) |
                @Html.ActionLink("Compute Salary", "ComputeSalary", new { employeeType = item.EmployeeType  })
            </td>
        </tr>
}
    </tbody>
</table>
